@namespace AntDesign
@inherits AntButtonComponent

@if (string.IsNullOrEmpty(href))
{
    <button type="@htmlType" class="@Class" style="@style" @onclick="@OnClickHandler" disabled=@(disabled)>
        @{
            if (!string.IsNullOrEmpty(icon))
            {
                <AntIcon Type="@icon"></AntIcon>
            }
        }
        @if (ChildContent != null)
        {
            <span>@ChildContent</span>
        }
    </button>

}
else
{

    <a class="@Class" href="@href" style="@style" @onclick="@OnClickHandler" disabled=@disabled>
        @{
            if (!string.IsNullOrEmpty(icon))
            {
                <AntIcon Type="@icon"></AntIcon>
            }
        }
        @if (ChildContent != null)
        {
            <span>@ChildContent</span>
        }
    </a>

}
