@namespace AntDesign
@inherits AntCheckboxComponent
<label class="@Class" style="@style">
    <AntBaseCheckbox prefixcls="@prefixCls"
                     id="@id"
                     type="@(type)"
                     name="@name"
                     value="@value"
                     checked="@(Checked)"
                     autofocus="@autoFocus"
                     onchange="@(OnChange)"
                     disabled="@disabled"
                     class="@(indeterminate ? $"{prefixCls}-indeterminate": "")" />
    @if (ChildContent != null)
    {
        <span>@ChildContent</span>
    }
</label>
