@namespace AntDesign
@inherits AntCheckboxGroupComponent

<CascadingValue Value="getChildContext()" Name="checkboxGroup">

    <div class="@Class" style="@style">
        @if (AllOptions.Count > 0)
        {
            @foreach (var option in AllOptions)
            {
                <AntCheckbox OnChange="@option.OnChange"
                             disabled="@(option.disabled != null ? option.disabled.Value: disabled)"
                             Class="@($" {groupPrefixCls}-item")"
                             Checked="@hasChecked(option.value)"
                             value="@(option.value)">@(option.label.Value)</AntCheckbox>
                        }
        }
    </div>

</CascadingValue>