@page "/button"

<DemoContainer Component="button" Title="ButtonDemo">
    <Content>
        <AntButton>
            Default
        </AntButton>
        <AntButton Type="@AntButtonType.Primary">
            Primary
        </AntButton>
        <AntButton Type="@AntButtonType.Dashed">
            Dashed
        </AntButton>
        <AntButton Type="@AntButtonType.Danger">
            Danger
        </AntButton>
        <AntButton Type="@AntButtonType.Link">
            Link
        </AntButton>
    </Content>
</DemoContainer>


<DemoContainer Component="button" Title="Icon Button">
    <Content>
        <AntButton type="primary" shape="circle" icon="search" />
        <AntButton type="primary" icon="search">
            Search
        </AntButton>
        <AntButton shape="circle" icon="search" />
        <AntButton icon="search">Search</AntButton>
        <br />
        <AntButton shape="circle" icon="search" />
        <AntButton icon="search">Search</AntButton>
        <AntButton type="dashed" shape="circle" icon="search" />
        <AntButton type="dashed" icon="search">
            Search
        </AntButton>
    </Content>
</DemoContainer>


<h3>Loading</h3>

<AntButton Type="@AntButtonType.Primary" Loading="true">
    Loading
</AntButton>


<AntDivider />

<h3>Block</h3>
<AntButton Type="@AntButtonType.Primary" Block="true">
    Block
</AntButton>


<AntDivider />

<h3>Group</h3>




<h3>Size</h3>

<AntButton Size="@AntButtonSize.Small" Type="@(size.Equals(AntButtonSize.Small) ? AntButtonType.Primary : AntButtonType.Default)" OnClick="@(()=> OnClick(AntButtonSize.Small))">
    Small
</AntButton>

<AntButton Type="@(size.Equals(AntButtonSize.Default) ? AntButtonType.Primary : AntButtonType.Default)" OnClick="@(()=> OnClick(AntButtonSize.Default))">
    Default
</AntButton>
<AntButton Size="@AntButtonSize.Large" Type="@(size.Equals(AntButtonSize.Large) ? AntButtonType.Primary : AntButtonType.Default)" OnClick="@(()=> OnClick(AntButtonSize.Large))">
    Large
</AntButton>

@code {
    string size = AntButtonSize.Default;
    void OnClick(string s)
    {
        size = s;
    }
}

<div>
    <p>@size</p>
    <AntButton Size="@size">
        Default
    </AntButton>

    <AntButton Size="@size" Type="@AntButtonType.Primary">
        Primary
    </AntButton>

    <AntButton Size="@size" Type="@AntButtonType.Dashed">
        Dashed
    </AntButton>


    <AntButton Size="@size" Type="@AntButtonType.Danger">
        Danger
    </AntButton>

    <AntButton Size="@size" Type="@AntButtonType.Link">
        Link
    </AntButton>
</div>