@page "/checkbox"
<DemoContainer Component="checkbox" Title="Checkbox">
    <Content>
        <AntCheckbox>
            Default
        </AntCheckbox>
    </Content>
</DemoContainer>


<DemoContainer Component="checkbox" Title="Controlled Checkbox">
    <Content>
        <p style="margin-bottom: 20px ">
            <AntCheckbox disabled=@(disabled) checked=@Checked OnChange="@((ev)=> Checked = (bool)ev.Value)">
                @((Checked ? "Check" : "Uncheck") + "-" + (disabled ? "Disable" : "Enable"))
            </AntCheckbox>
        </p>

        <p>
            <AntButton type="primary" size="small" onClick="@(()=> Checked = !Checked)">
                @(!Checked ? "Check" : "Uncheck")
            </AntButton>
            <AntButton style="margin-left: 10px"
                       type="primary"
                       size="small"
                       onClick="@(()=> disabled = !disabled)">
                @(!disabled ? "Disable" : "Enable")
            </AntButton>
        </p>
    </Content>
    @code{
        bool Checked = true;
        bool disabled = false;
    }
</DemoContainer>

<DemoContainer Component="checkbox" Title="Group Checkbox">
    <Content>
        <p>
            @_defaultOptions
        </p>
        <AntCheckboxGroup options="@plainOptions" value="@(defaultOptions)" OnChange="@(items => _defaultOptions = items)" />
    </Content>
    @code {
        List<string> plainOptions = new List<string> { "Apple", "Pear", "Orange" };
        List<OneOf.OneOf<string, int, bool>> defaultOptions = new List<OneOf.OneOf<string, int, bool>> { "Apple", "Orange" };
        List<OneOf.OneOf<string, int, bool>> _defaultOptions;
    }
</DemoContainer>