@namespace AntDesign
@inherits AntTimelineComponent
<CascadingValue Name="Timeline" Value="this">
    <ul @attributes="Attributes" class="@Class" style="@style">
        @ChildContent
        @if (Pending != null && !reverse)
        {
            <AntTimelineItem pending="true">
                <Dot>
                    @if (PendingDot != null)
                    {
                        @PendingDot
                    }
                    else
                    {
                        <AntIcon Type="loading" />
                    }
                </Dot>
                <ChildContent>
                    @Pending
                </ChildContent>
            </AntTimelineItem>
        }
        @foreach (var item in Items)
        {
            <li @attributes="item.Attributes" class="@item.Class @getPositionCls(item,index) @getLastCls(index)" style="@item.style">
                <div class="@($"{item.prefixCls}")-item-tail"></div>
                <div class="@item.DotClassName" style="@item.DotStyle">
                    @item.Dot
                </div>
                <div class="@($"{item.prefixCls}-item-content")">@item.ChildContent</div>
            </li>
            index++;
        }
        @if (Pending != null && reverse)
        {
            <AntTimelineItem pending="true">
                <Dot>
                    @if (PendingDot != null)
                    {
                        @PendingDot
                    }
                    else
                    {
                        <AntIcon Type="loading" />
                    }
                </Dot>
                <ChildContent>
                    @Pending
                </ChildContent>
            </AntTimelineItem>
        }
    </ul>
</CascadingValue>
